USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 06/05/2022 10:08:32 ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 06/05/2022 10:08:32 ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[agendamento]    Script Date: 06/05/2022 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agendamento](
	[ag_codigo] [int] IDENTITY(1,1) NOT NULL,
	[ag_data] [date] NOT NULL,
	[ag_horario] [time](7) NOT NULL,
	[ag_situacao] [varchar](15) NOT NULL,
	[ag_animal] [int] NOT NULL,
	[ag_total] [numeric](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ag_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agendamento_servicos]    Script Date: 06/05/2022 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agendamento_servicos](
	[ag_serv_numero] [int] IDENTITY(1,1) NOT NULL,
	[ag_serv_agendamento] [int] NOT NULL,
	[ag_serv_servico] [int] NOT NULL,
	[ag_serv_quantidade] [int] NOT NULL,
	[ag_serv_valor_unitario] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ag_serv_numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[animal]    Script Date: 06/05/2022 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[animal](
	[ani_codigo] [int] IDENTITY(1,1) NOT NULL,
	[ani_nome] [varchar](50) NOT NULL,
	[ani_sexo] [char](1) NOT NULL,
	[ani_agressivo] [char](1) NOT NULL,
	[ani_cor] [varchar](25) NOT NULL,
	[ani_idade] [int] NOT NULL,
	[ani_alergia] [varchar](50) NULL,
	[ani_cliente] [int] NOT NULL,
	[ani_raca] [int] NOT NULL,
	[ani_foto] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ani_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 06/05/2022 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[cli_codigo] [int] IDENTITY(1,1) NOT NULL,
	[cli_nome] [varchar](50) NOT NULL,
	[cli_celular] [varchar](15) NOT NULL,
	[cli_email] [varchar](50) NULL,
	[cli_cpf] [char](14) NULL,
	[cli_endereco] [varchar](100) NOT NULL,
	[cli_foto] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[cli_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raca]    Script Date: 06/05/2022 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raca](
	[raca_codigo] [int] IDENTITY(1,1) NOT NULL,
	[raca_nome] [varchar](50) NOT NULL,
	[raca_pais_origem] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[raca_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servico]    Script Date: 06/05/2022 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servico](
	[serv_codigo] [int] IDENTITY(1,1) NOT NULL,
	[serv_descricao] [varchar](50) NOT NULL,
	[serv_preco] [decimal](5, 2) NOT NULL,
	[serv_tempo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[serv_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wordldpet]    Script Date: 06/05/2022 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wordldpet](
	[ani_codigo] [int] IDENTITY(1,1) NOT NULL,
	[ani_nome] [varchar](50) NOT NULL,
	[ani_sexo] [char](1) NOT NULL,
	[ani_agressivo] [char](1) NOT NULL,
	[ani_cor] [varchar](25) NOT NULL,
	[ani_idade] [int] NOT NULL,
	[ani_alergia] [varchar](50) NULL,
	[ani_cliente] [int] NOT NULL,
	[ani_raca] [int] NOT NULL,
	[ani_foto] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[worldpet]    Script Date: 06/05/2022 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[worldpet](
	[ani_codigo] [int] IDENTITY(1,1) NOT NULL,
	[ani_nome] [varchar](50) NOT NULL,
	[ani_sexo] [char](1) NOT NULL,
	[ani_agressivo] [char](1) NOT NULL,
	[ani_cor] [varchar](25) NOT NULL,
	[ani_idade] [int] NOT NULL,
	[ani_alergia] [varchar](50) NULL,
	[ani_cliente] [int] NOT NULL,
	[ani_raca] [int] NOT NULL,
	[ani_foto] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([cli_codigo], [cli_nome], [cli_celular], [cli_email], [cli_cpf], [cli_endereco], [cli_foto]) VALUES (3, N'Cristiane Bezerra ', N'(11) 95899-8456', N'cris@gmail.com', N'494,649,646-49', N'Rua: Paulino, 78', NULL)
INSERT [dbo].[cliente] ([cli_codigo], [cli_nome], [cli_celular], [cli_email], [cli_cpf], [cli_endereco], [cli_foto]) VALUES (4, N'Wallace da Silva ', N'(11) 98564-2456', N'walla@gmail.com', N'464,659,464-96', N'Rua: Itaquera, 53', NULL)
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[raca] ON 

INSERT [dbo].[raca] ([raca_codigo], [raca_nome], [raca_pais_origem]) VALUES (1, N'Vira-Lata', N'Brasil')
INSERT [dbo].[raca] ([raca_codigo], [raca_nome], [raca_pais_origem]) VALUES (2, N'Husky Siberiano', N'Sibéria')
INSERT [dbo].[raca] ([raca_codigo], [raca_nome], [raca_pais_origem]) VALUES (3, N'Labrador retriever', N'Canadá')
SET IDENTITY_INSERT [dbo].[raca] OFF
GO
ALTER TABLE [dbo].[agendamento] ADD  DEFAULT ((0)) FOR [ag_total]
GO
ALTER TABLE [dbo].[agendamento]  WITH CHECK ADD FOREIGN KEY([ag_animal])
REFERENCES [dbo].[animal] ([ani_codigo])
GO
ALTER TABLE [dbo].[agendamento]  WITH CHECK ADD FOREIGN KEY([ag_animal])
REFERENCES [dbo].[animal] ([ani_codigo])
GO
ALTER TABLE [dbo].[agendamento]  WITH CHECK ADD FOREIGN KEY([ag_animal])
REFERENCES [dbo].[animal] ([ani_codigo])
GO
ALTER TABLE [dbo].[agendamento]  WITH CHECK ADD FOREIGN KEY([ag_animal])
REFERENCES [dbo].[animal] ([ani_codigo])
GO
ALTER TABLE [dbo].[agendamento]  WITH CHECK ADD FOREIGN KEY([ag_animal])
REFERENCES [dbo].[animal] ([ani_codigo])
GO
ALTER TABLE [dbo].[agendamento]  WITH CHECK ADD FOREIGN KEY([ag_animal])
REFERENCES [dbo].[animal] ([ani_codigo])
GO
ALTER TABLE [dbo].[agendamento]  WITH CHECK ADD FOREIGN KEY([ag_animal])
REFERENCES [dbo].[animal] ([ani_codigo])
GO
ALTER TABLE [dbo].[agendamento]  WITH CHECK ADD FOREIGN KEY([ag_animal])
REFERENCES [dbo].[animal] ([ani_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_servico])
REFERENCES [dbo].[servico] ([serv_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_agendamento])
REFERENCES [dbo].[agendamento] ([ag_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_servico])
REFERENCES [dbo].[servico] ([serv_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_agendamento])
REFERENCES [dbo].[agendamento] ([ag_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_servico])
REFERENCES [dbo].[servico] ([serv_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_agendamento])
REFERENCES [dbo].[agendamento] ([ag_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_servico])
REFERENCES [dbo].[servico] ([serv_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_agendamento])
REFERENCES [dbo].[agendamento] ([ag_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_servico])
REFERENCES [dbo].[servico] ([serv_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_agendamento])
REFERENCES [dbo].[agendamento] ([ag_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_servico])
REFERENCES [dbo].[servico] ([serv_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_agendamento])
REFERENCES [dbo].[agendamento] ([ag_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_servico])
REFERENCES [dbo].[servico] ([serv_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_agendamento])
REFERENCES [dbo].[agendamento] ([ag_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_servico])
REFERENCES [dbo].[servico] ([serv_codigo])
GO
ALTER TABLE [dbo].[agendamento_servicos]  WITH CHECK ADD FOREIGN KEY([ag_serv_agendamento])
REFERENCES [dbo].[agendamento] ([ag_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_cliente])
REFERENCES [dbo].[cliente] ([cli_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_cliente])
REFERENCES [dbo].[cliente] ([cli_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_cliente])
REFERENCES [dbo].[cliente] ([cli_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_cliente])
REFERENCES [dbo].[cliente] ([cli_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_cliente])
REFERENCES [dbo].[cliente] ([cli_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_cliente])
REFERENCES [dbo].[cliente] ([cli_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_cliente])
REFERENCES [dbo].[cliente] ([cli_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_cliente])
REFERENCES [dbo].[cliente] ([cli_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_raca])
REFERENCES [dbo].[raca] ([raca_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_raca])
REFERENCES [dbo].[raca] ([raca_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_raca])
REFERENCES [dbo].[raca] ([raca_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_raca])
REFERENCES [dbo].[raca] ([raca_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_raca])
REFERENCES [dbo].[raca] ([raca_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_raca])
REFERENCES [dbo].[raca] ([raca_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_raca])
REFERENCES [dbo].[raca] ([raca_codigo])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD FOREIGN KEY([ani_raca])
REFERENCES [dbo].[raca] ([raca_codigo])
GO
